
html{
    box-sizing:border-box;
}

*,*:before,*:after{
    box-sizing:inherit;
}

html{
    -ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;
}

body{
    margin:0;
}

.w3-top{
    position:fixed;width:100%;z-index:1;top:0;
}


.w3-white{
    color:#000!;background-color:#fff;
}

.w3-xlarge{
    font-size:32px;
}

.w3-center{
    display:inline-block;width:auto;text-align:center;
}

.w3-padding-16{
    padding-top:16px;padding-bottom:16px;
}

.w3-main{
    margin-left:4s;margin-right:4s;
}
.w3-content{
    margin-left:auto;margin-right:auto;max-width:980px;
}


.w3-padding-small{
    padding:4px 8px;
}

.w3-padding{
    padding:8px 16px;
}
.w3-padding-large{
    padding:12px 24px;
}
.w3-padding-top-64{
    padding-top:64px;
}
.w3-padding-top-48{
    padding-top:48px;
}
.w3-padding-top-32{
    padding-top:32px;
}
.w3-padding-top-24{
    padding-top:24px;
}

.w3-row-padding{
    padding:0 8px;
}

.w3-quarter{
    float:left;width:100%;width:24.99999%;padding:0 8px;
}

